{% extends 'base.html.twig' %}

{% block title %}ChargeIT Booking Creator{% endblock %}

{% block body %}
    <script>
        const ownedCars = {{ owned_cars|json_encode|raw }};
        let plug = null;

        function displayWarning(message = null, color = 'black', disableSubmit = false) {
            const errorMessage = document.getElementById("errorMessage");
            const submitBtn = document.getElementById("submitBtn");

            if(message) {
                errorMessage.style.color = color;
                errorMessage.innerText = ' ' + message;
                errorMessage.style.display = "";
            } else
                errorMessage.style.display = "none";

            if(disableSubmit) {
                submitBtn.classList.add("disabled");
                submitBtn.style.cursor = "not-allowed";
                submitBtn.disabled = true;
            } else {
                submitBtn.classList.remove("disabled");
                submitBtn.style.removeProperty('cursor');
                submitBtn.disabled = false;
            }
        }

        function checkCompatibility() {
            if(plug.connector.toLowerCase() !== ownedCars[document.getElementById("booking_form_car").value].toLowerCase())
                displayWarning("The selected car might be incompatible with this plug!", "darkorange");
            else
                displayWarning();
        }

        function loadPlugData() {
            $.get("/api/plug/" + document.getElementById("booking_form_plug").value, function(data, status) {
                plug = data;
                {% if not submit_error|default %}
                checkCompatibility();
                {% endif %}
            })
        }

        $(document).on('change', '#modalForm', function() {
            if(new Date() > new Date(document.getElementById('booking_form_start_time').value)) {
                displayWarning("Invalid time and date!", "red", true);
            } else {
                displayWarning();
                checkCompatibility();
            }
        })
    </script>
    <script>
        window.onsubmit = function() {
            const submitBtn = document.getElementById("submitBtn");
            submitBtn.classList.add("disabled");
            submitBtn.disabled = "";
            submitBtn.style.cursor = "not-allowed";
            submitBtn.value = "Please wait...";
        }
    </script>
    <div id="modalForm">
    {{ form_start(createForm) }}
        <div class="form-group">
            <label for="booking_form_car" class="col-form-label">Car:</label>
            {{ form_widget(createForm.car, {'attr': {'class': 'form-control'}}) }}
{#            <input type="text" class="form-control" id="recipient-name">#}
        </div>
        <div class="form-group">
            <label for="booking_form_start_time" class="col-form-label">Date & Time:</label>
            {{ form_widget(createForm.start_time, {'attr': {'class': 'form-control', 'style': 'display: flex; justify-content: space-between'}}) }}
        </div>
        <div class="form-group">
            <label for="booking_form_duration" class="col-form-label">Duration (min):</label>
            {{ form_widget(createForm.duration, {'type': 'number', 'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group" style="display: none">
            <label for="booking_form_plug" class="col-form-label">Plug ID:</label>
            {{ form_widget(createForm.plug, {'type': 'number', 'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group" style="text-align:center;">
            <p id="errorMessage" class="bi bi-exclamation-triangle-fill" style="display: none"></p>
        </div>
        <input id="submitBtn" type="submit" class="btn btn-success" value="Create booking" style="width: 100%;" />
    {{ form_end(createForm) }}
    </div>
    <script>
        loadPlugData();
        {% if close_window|default %}
        document.getElementById('modalForm').innerHTML = '<div style="text-align: center"><i class="bi bi-calendar-check" style="font-size: 5em"></i><h3 class="mt-4">Booking created!</h3><h4>You can now close this popup.</h4></div>';
        {% endif %}
        {% if submit_error|default %}
        displayWarning("{{ submit_error }}", "red", true);
        {% endif %}
    </script>
{% endblock %}