{% extends 'base.html.twig' %}

{% block title %}ADMIN: ChargeIT Stations{% endblock %}

{% block navigable %}
    <script>
        function deleteStation(uuid) {
            const choice = confirm("Are you sure you want to delete this station?");
            if(choice)
                location.href = "/admin/station/" + uuid + "/delete";
        }
        function newPopup(url, title) {
            window.open(url, title, 'scrollbars=no,resizable=no,status=no,location=no,toolbar=no,menubar=no,width=330,height=520')
        }
    </script>
    <style>
        .example-wrapper { margin: 1em auto; max-width: 75%; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <div style="text-align: center">
            <h1>Charge IT Station Database</h1>
            <h3>Administration page</h3>
        </div>
        <input class="btn btn-outline-success mt-5 mb-3" type="button" value="Add new station" onclick="newPopup('{{ path('admin_station_create') }}', 'create_station')" style="font-size: 1.08em; width: 100%;" />
        <table class="table table-striped table-hover" style="width: 100%">
            <colgroup>
                <col style="width: 50%">
                <col style="width: 35%">
                <col style="width: 15%">
            </colgroup>
            <thead>
                <tr>
                    <th>Station</th>
                    <th>Address</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
            {% for obj in jsonData %}
                <tr>
                    <td>{{ obj.name }}</td>
                    <td>{{ obj.address }}</td>
                    <td>
                        <a class="btn btn-outline-primary" href="{{ path('admin_station_edit', {'id': obj.uuid}) }}">Edit</a>
                        <a class="btn btn-outline-danger" href="javascript:deleteStation('{{ obj.uuid }}')">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {#    <ul>#}
        {#        <li>Your controller at <code><a href="{{ 'C:/Users/daian/PhpstormProjects/ChargeIT/ChargeIT/src/Controller/MainPageController.php'|file_link(0) }}">src/Controller/MainPageController.php</a></code></li>#}
        {#        <li>Your template at <code><a href="{{ 'C:/Users/daian/PhpstormProjects/ChargeIT/ChargeIT/templates/main_page/login.html.twig'|file_link(0) }}">templates/main_page/login.html.twig</a></code></li>#}
        {#    </ul>#}
    </div>
{% endblock %}