<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>🚗️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css" />
            <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-icons.css" />
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script type="text/javascript" src="/assets/js/jquery-3.3.1.min.js"></script>
            <script type="text/javascript" src="/assets/js/bootstrap.bundle.js"></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/">ChargeIT</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item {{ app.request.attributes.get('_route') == 'app_main_page' ? 'active' }}">
                            <a class="nav-link" href="{{ path('app_main_page') }}">Home</a>
                        </li>
                        <li class="nav-item {{ app.request.attributes.get('_route') == 'app_cars' ? 'active' }}">
                            <a class="nav-link" href="{{ path('app_cars') }}">My Cars</a>
                        </li>
                        <li class="nav-item {{ app.request.attributes.get('_route') == 'app_bookings' ? 'active' }}">
                            <a class="nav-link" href="{{ path('app_bookings') }}">My Bookings</a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Admin Panel
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{{ path('admin_stations') }}">Manage stations</a>
                                    <a class="dropdown-item" href="#">Manage bookings</a>
    {#                              <div class="dropdown-divider"></div>#}
    {#                              <a class="dropdown-item" href="#">Something else here</a>#}
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                    {% if is_granted('ROLE_USER') %}
                        <span class="navbar-text mr-3">
                            Hello, {{ app.user.name }}!
                        </span>
                    {% endif %}
                    <a class="btn btn-outline-danger" href="{{ path('app_logout') }}">Logout</a>
                </div>
            </nav>
        {% endblock %}
        {% block navigable %}{% endblock %}
    </body>
</html>
