{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">ChargeIT</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {{ app.request.attributes.get('_route') == 'app_main_page' ? 'active' }}">
                    <a class="nav-link" href="{{ path('app_main_page') }}">Home</a>
                </li>
                <li class="nav-item {{ app.request.attributes.get('_route') == 'app_cars' ? 'active' }}">
                    <a class="nav-link" href="{{ path('app_cars') }}">My Cars</a>
                </li>
                <li class="nav-item {{ app.request.attributes.get('_route') == 'app_bookings' ? 'active' }}">
                    <a class="nav-link" href="{{ path('app_bookings') }}">My Bookings</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin Panel
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('admin_stations') }}">Manage stations</a>
                        <a class="dropdown-item" href="#">Manage bookings</a>
{#                        <div class="dropdown-divider"></div>#}
{#                        <a class="dropdown-item" href="#">Something else here</a>#}
                    </div>
                </li>
            </ul>
            {% if name|default %}
            <span class="navbar-text mr-3">
                Hello, {{ name }}!
            </span>
            {% endif %}
            <a class="btn btn-outline-danger" href="{{ path('app_logout') }}">Logout</a>
        </div>
    </nav>
{% endblock %}